*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

#hide_block{
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translateX(-100%);
    position: absolute;
}

#date_cnt{
    color: white;
    text-align: center;
    position: absolute;
    transform: translate(-50%,0%);
    left: 50%;
    
}

#reveal_cnt{/* don't forget that is a part of the block  */
    width: 20%;
    height: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    color: white;
    text-align: center;
}

#text_reveal{
    opacity: 0;
    font-size: 20px;
}

#time{
    font-weight: 800;
    font-size: 30px;
    width: auto;
    transform: translateY(20px);
    letter-spacing: 2.5px;
    position: relative;
}

#contenuto{
    /* background-image: url("/img/levin-i8IPxSMJWtA-unsplash.jpg");
    background-position: center center;
    background-size: cover; */
    background-color: #001f3f;
    width: 100%;
    height: 100%;
    z-index: 1;
}

